@import './base.css';

body{
  
}

#app {
  
  margin: 0 auto;
  padding: 2rem;
  width:100%;
  font-weight: normal;
  background-color: blueviolet;
}

.container{

  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}